<div class="card">
    <p-table
        #dt
        [value]="Leaves"
        [totalRecords]="Leaves.length"
        [(selection)]="selectedleaves"
        dataKey="leaveId"
        [rowHover]="true"
        [rows]="4"
        [showCurrentPageReport]="true"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['leaveId', 'employeeId', 'leaveType', 'startDate', 'endDate', 'status']"
        (onFilter)="dt.filterGlobal(searchValue, 'contains')"
    >
        <ng-template #caption>
            <div class="flex justify-between">
                <p-button variant="outlined" icon="pi pi-filter-slash" label="Clear" (click)="clear()" />
                <div class="class flex items-center gap-2">
                    <p-iconField iconPosition="left">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                    <input
                        pInputText
                        type="text"
                        [(ngModel)]="searchValue"
                        placeholder="Search by leaveId or EmployeeID"
                        (input)="dt.filterGlobal(searchValue, 'contains')"
                    />
                </p-iconField>
            </div>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="leaveId" style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Leave ID
                        <p-sortIcon field="leaveId" />
                        <p-columnFilter type="text" field="requestID" display="leaveId" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="employeeId" style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Employee ID
                        <p-sortIcon field="id" />
                        <p-columnFilter type="text" field="id" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="leaveType" style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Leave Type
                        <p-sortIcon field="leaveType" />
                        <p-columnFilter type="text" field="leaveType" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="startDate" style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Start Date
                        <p-sortIcon field="startDate" />
                        <p-columnFilter type="text" field="startDate" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th pSortableColumn="endDate" style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        End Date
                        <p-sortIcon field="endDate" />
                        <p-columnFilter type="text" field="endDate" display="menu" class="ml-auto" />
                    </div>
                </th>
                <th style="width: 5rem">Status</th>
                <th style="width: 5rem">Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-leave>
            <tr class="p-selectable-row" style="cursor: pointer;">
                <td>
                    <div class="flex items-center justify-start gap-2">
                        <div class="">
                            <p>
                                {{ leave.leaveId }}
                            </p>
                        </div>
                    </div>
                </td>
                <td >
                    {{ leave.employeeId }}
                </td>
                <td>{{leave.leaveType}}</td>
                <td>{{ leave.startDate | date }}</td>
                <td>{{ leave.endDate | date }}</td>
                <td>
                    <p-chip [label]="leave.status" />
                </td>
                <td *ngIf=" leave.status === 'Pending' " class="z-10 flex gap-2" (click)="$event.stopPropagation()">
                    <button (click)="approveLeave(leave.leaveId)" class="text-primary-contrast bg-green-400 rounded-full w-6 h-6 flex items-center justify-center">
                        <i class="pi pi-check"></i>
                    </button>
                    <button (click)="rejectLeave(leave.leaveId)" class="text-primary-contrast bg-red-500 rounded-full w-6 h-6 flex items-center justify-center">
                        <i class="pi pi-times"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <p-confirmdialog />
        <ng-template #emptymessage>
            <tr>
                <td colspan="6">No leave requests found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>